@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.grid-new-company {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 70vh;
    /*"company-data image-data"
      "contact-information contact-information";*/
  }

.company-data {
    grid-column: 1/1;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px
}
.company-logo{
    display: grid;
    place-content: start flex-end;
}
.info-company-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#companyName{
    
}
#companyStartDate{
    
}
.contact-information {
    grid-column: 1/2;
    grid-row: 2/3;
    /*grid-area: contact-information;*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}

#companyStreet {
    grid-row: 1/2;
    grid-column: 1/4;
}

#companyCip {
    grid-row: 1/2;
    grid-column: 4/5;
}

#companyCity {
    grid-row: 2/3;
    grid-column: 1/3;
    
}

#companyCountry {
    grid-row: 2/3;
    grid-column: 3/5;
    
}

#companyEmail {
    grid-row: 3/4;
    grid-column: 1/5;
}

#companyPhone {
    grid-row: 4/5;
    grid-column: 1/5;
}

#contactHeader{
    
}
#plates-tables{
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    width: 50%;
}
.companies-section-box{
    box-shadow: 2px 2px 10px rgb(182, 181, 181);
    border-radius: 10px;
    padding: 10px;
}
.plates-table{
    height: 30%;
    max-height: 30%;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 5px;
  }