<o-form
  layout-direction="column"
  header-actions="R;U;D"
  after-insert-mode="detail"
  service="companies"
  entity="company"
  keys="id_company"
  parent-keys="id_company"
  keys-sql-types="INTEGER"
  (onDataLoaded)="onDataLoaded($event)"
>
  <div class="grid-new-company companies-section-box">
    <div class="info">
      <div class="section-company-info">
        <h2 class="header">{{ "company_data" | oTranslate }}</h2>
        <div class="company-data">
          <div class="icon-side">
            <o-image
              attr="company_logo"
              class="comapany-picture"
              not-found-image="./assets/images/no-image.png"
              show-controls="no"
              read-only="no"
              label="{{ 'company_logo_detail' | oTranslate }}"
              height="200px"
              width="200px"
            ></o-image>
          </div>
          <div class="info-company-side">
            <o-text-input
              id="companyName"
              attr="company_name"
              label="{{ 'company_name_detail' | oTranslate }}"
              read-only="no"
              required="yes"
              clear-button="yes"
            >
            </o-text-input>
            <o-date-input
              id="companyStartDate"
              attr="company_start_date"
              label=" {{ 'company_start_date_detail' | oTranslate }}"
              read-only="no"
              format="LL"
              required="yes"
              min="01/01/1980"
              text-input-enabled="no"
            >
            </o-date-input>
          </div>
        </div>
      </div>
      <div class="section-company-info">
        <h2 id="contactHeader" class="header">
          {{ "contact_information" | oTranslate }}
        </h2>
        <div class="contact-information">
          <o-integer-input
            id="idCompany"
            attr="id_company"
            hidden
          ></o-integer-input>
          <o-text-input
            id="companyStreet"
            attr="company_direction_street"
            label=" {{ 'company_direction_street_detail' | oTranslate }}"
            read-only="no"
            required="yes"
          ></o-text-input>
          <o-text-input
            id="companyCip"
            attr="company_direction_cip"
            label=" {{ 'company_direction_cip_detail' | oTranslate }}"
            read-only="no"
            required="yes"
          ></o-text-input>
          <o-text-input
            id="companyCity"
            attr="company_direction_city"
            label="{{ 'company_direction_city_detail' | oTranslate }}"
            read-only="no"
            required="yes"
          ></o-text-input>
          <o-text-input
            id="companyCountry"
            attr="company_direction_country"
            label="{{ 'company_direction_country_detail' | oTranslate }}"
            read-only="yes"
            required="yes"
          ></o-text-input>
          <o-phone-input
            id="companyPhone"
            attr="company_phone"
            label="{{ 'company_phone_detail' | oTranslate }}"
            read-only="no"
            required="yes"
          >
          </o-phone-input>
          <o-email-input
            id="companyEmail"
            attr="company_email"
            label="{{ 'company_email_detail' | oTranslate }}"
            read-only="no"
            required="yes"
          ></o-email-input>
        </div>
      </div>
    </div>
    <div  id="plates-table">
      <o-form-layout-manager
      mode="dialog"
      >
      <o-form-layout-dialog-options 
        width="600px" 
        height="400px"
        disable-close="false" >
      </o-form-layout-dialog-options>
        <o-table
          show-configuration-option="no"
          class="plates-table"
          keys="id_company"
          parent-keys="id_company"
          keys-sql-types="INTEGER"
          service="companies"
          entity="companyGetPlatesCompany"
          columns="vinculated_trucks"
          visible-columns="vinculated_trucks"
          quick-filter="yes"
          show-buttons-text="no"
        >
        <o-table-column
        attr="vinculated_trucks"
        type="string"
        content-align="center"
        >
        </o-table-column>
        </o-table>
      </o-form-layout-manager>
    </div>
  </div>
</o-form>
