<div style="display: none">
  <o-form
    service="travels"
    entity="travel"
    keys="id_travel"
    show-header-navigation="no"
    (onDataLoaded)="getData($event)"
  >

    <o-text-input
      attr="id_travel"
      sql-type="INTEGER"
      enabled="no"
      hidden="true"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      read-only="yes"
      attr="delivery_name"
      enabled="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      read-only="yes"
      attr="plate_number"
      enabled="yes"
    ></o-text-input>
    <o-date-input
      attr="datetime_in"
      format="DD/MM/YYYY HH:mm"
      read-only="yes"
      enabled="yes"
    ></o-date-input>
    <o-date-input
      attr="datetime_out"
      format="DD/MM/YYYY HH:mm"
      read-only="yes"
      enabled="yes"
    ></o-date-input>
    <o-text-input
      class="input-padding"
      label="scan_volume_in"
      attr="scan_volume_in"
      read-only="yes"
      enabled="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="scan_volume_out"
      attr="scan_volume_out"
      read-only="yes"
      enabled="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="calculated_volume"
      attr="calculated_volume"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="trailer_plate_number"
      attr="trailer_plate_number"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="length"
      attr="length"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="width"
      attr="width"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="height"
      attr="height"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="difference"
      attr="difference"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="error"
      attr="error"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="occupation"
      attr="occupation"
      read-only="yes"
    ></o-text-input>
    <o-text-input
      class="input-padding"
      label="duration"
      attr="duration"
      read-only="yes"
    ></o-text-input>
  </o-form>
</div>

<div class="main-section">
  <div id="delivery_section" class="info-section">
    <h3 class="section-title">{{ "delivery_info" | oTranslate }}</h3>
    <div id="delivery">
      <card
        id="delivery_card"
        iconName="local_shipping"
        [data]="this.data['travel_info']['delivery_name']"
        content="delivery_name"
      >
      </card>
      <card
        id="plate_card"
        iconName="12mp"
        [data]="this.data['travel_info']['plate_number']"
        content="plate_number"
      >
      </card>
      <card
        id="trailer_card"
        iconName="23mp"
        [data]="this.data['travel_info']['trailer_plate_number']"
        content="trailer_plate_number"
      >
      </card>
    </div>
  </div>
  <div id="times_section" class="info-section">
    <h3 class="section-title">{{ "times_info" | oTranslate }}</h3>
    <div id="times">
      <card
        id="date_in_card"
        iconName="input"
        [data]="this.data['travel_info']['datetime_in']"
        content="datetime_in"
      >
      </card>

      <card
        id="date_out_card"
        iconName="output"
        [data]="this.data['travel_info']['datetime_out']"
        content="datetime_out"
      >
      </card>

      <card
        id="duration_card"
        iconName="timer"
        [data]="this.data['travel_info']['duration']"
        content="duration"
      >
      </card>
    </div>
  </div>

  <div id="measures_section" class="info-section">
    <h3 class="section-title">{{ "measures" | oTranslate }}</h3>
    <div id="measures">
      <card
        id="scan_in_card"
        iconName="sensors"
        [data]="this.data['measure_info']['scan_volume_in']"
        content="scan_volume_in2"
        [animate]="true"
        [isCubics]="true"
      >
      </card>

      <card
        id="scan_out_card"
        iconName="sensors"
        [data]="this.data['measure_info']['scan_volume_out']"
        content="scan_volume_out2"
        [animate]="true"
        [isCubics]="true"
      >
      </card>

      <card
        id="calc_volume_card"
        iconName="calculate"
        [data]="this.data['measure_info']['calculated_volume']"
        content="calculated_volume2"
        [animate]="true"
        [isCubics]="true"
      >
      </card>

      <card
        id="calc_dif_card"
        iconName="difference"
        [data]="this.data['measure_info']['difference']"
        content="difference"
        [isCubics]="true"
      >
      </card>

      <card
        id="error_card"
        iconName="warning"
        [data]="this.data['measure_info']['error']"
        content="error_value"
        [animate]="true"
        [isPercent]="true"
      >
      </card>
    </div>
  </div>
  <div id="dimensions_section" class="info-section">
    <h3 class="section-title">{{ "dimensions" | oTranslate }}</h3>
    <div id="dimensions">
      <card
        id="width_card"
        iconName="straighten"
        [data]="this.data['measure_info']['width']"
        content="width"
        [animate]="true"
        [isMeters]="true"
      >
      </card>

      <card
        id="length_card"
        iconName="straighten"
        [data]="this.data['measure_info']['length']"
        content="length"
        [animate]="true"
        [isMeters]="true"
      >
      </card>

      <card
        id="height_card"
        iconName="straighten"
        [data]="this.data['measure_info']['height']"
        content="height"
        [animate]="true"
        [isMeters]="true"
      >
      </card>

      <card
        id="occupation_card"
        iconName="inventory_2"
        [data]="this.data['travel_info']['occupation']"
        content="occupation"
        [animate]="true"
        [isPercent]="true"
      >
      </card>
    </div>
  </div>
</div>

<!--
  {{ "delivery_name" | oTranslate }}
   <div  *ngIf="table_data" class="card-box stock-card">
            <div class="icon-container">
                <div class="circle background-oranged-yellow">
                    <mat-icon class="icon">inventory 2</mat-icon>
                </div>
            </div>
            <div class="values">
                <span class="value">{{table_data[0].max_stock.toFixed(2)}} m3</span>
                <p>{{'max_stock' | oTranslate}}</p>
            </div>
    </div>
-->
