<div style="display: none;">
    <o-table 
        attr="travels" 
        service="travels" 
        entity="travelGetStock"
        columns="stock;max_stock"
        visible-columns="stock;max_stock"
        query-rows="20"
        (onDataLoaded)="ondataloaded($event)">
    </o-table>
</div>
<div class="container-stock">
    <div class="stock-section">
        <div *ngIf="table_data" class="card-box stock-card">
            <div class="icon-container">
                <div class="circle background-green">
                    <mat-icon class="icon">inventory 2</mat-icon>
                </div>
            </div>
            <div class="values">
                <span class="value">{{table_data[0].stock.toFixed(2)}} m3</span>
                <p>{{'stock' | oTranslate}}</p>
            </div>
        </div>
        <div  *ngIf="table_data" class="card-box stock-card">
            <div class="icon-container">
                <div class="circle background-oranged-yellow">
                    <mat-icon class="icon">inventory 2</mat-icon>
                </div>
            </div>
            <div class="values">
                <span class="value">{{table_data[0].max_stock.toFixed(2)}} m3</span>
                <p>{{'max_stock' | oTranslate}}</p>
            </div>
        </div>
        <div *ngIf="table_data" class="card-box stock-card">
            <div class="icon-container">
                <div class="circle background-red">
                    <mat-icon class="icon">percentage</mat-icon>
                </div>
            </div>
            <div class="values">
                <span class="value">{{table_data[0].percentage.toFixed(2)}}%</span>
                <p>{{ 'percentage' | oTranslate}}</p>
            </div>
        </div>
    </div>
    <div class="card-box graphic-box">
        <h2>{{"occupation_percent" | oTranslate}}</h2>
        <o-chart type="gaugeDashboardChart"
        #gaugeDashboard
        attr="data"
        y-axis="value"
        >
        </o-chart>
    </div>
</div>