<div class="full-page">
  <div class="container">
    <div class="wrapp-login">
        <div class="logo-container">
          <img id="logo-truck" src="assets/images/icono-claro.png" alt="logo">
        </div>
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
          <div>
            <p class="session-expired text" *ngIf="sessionExpired">{{ 'ERROR_SESSION_EXPIRED' | oTranslate }}</p>
            <span class="title_text">{{ 'LOGIN_TITLE' | oTranslate }}:</span>
          </div>

          <div class="fields">
            <mat-form-field>
              <input matInput class="mat-input" #user placeholder="{{ 'USERNAME' | oTranslate }}" id="username" [formControl]="userCtrl">
              <mat-error *ngIf="userCtrl.hasError('required')">
                {{ 'ERROR_USER_REQUIRED' | oTranslate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput class="mat-input" #password placeholder="{{ 'PASSWORD' | oTranslate }}" id="password" type="password"
                [formControl]="pwdCtrl">
              <mat-error *ngIf="pwdCtrl.hasError('required')">
                {{ 'ERROR_PASS_REQUIRED' | oTranslate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-checkbox class="text">{{ 'REMEMBER_ME' | oTranslate }}</mat-checkbox>
          </div>

          <button mat-raised-button class="btn" type="submit">{{ 'LOGIN' | oTranslate }}</button>
          <div layout-padding></div>
          <div layout-padding></div>
        </form>
    </div>
  </div>

  <footer id="footer" class="footer-container">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div class="footer-info">
          <span>Created by Truck Logistic SA </span>
          <!--<span>{{ 'FOOTER_CREATED_BY' | oTranslate }}</span>-->
          <span>. &copy; 2023 </span>
          <!--<span> {{ 'FOOTER_RIGHTS' | oTranslate }}</span>-->
      </div>
    </div>
  </footer>

</div>
