<o-form>
  <o-combo
    attr="combo-searchable"
    label="SELECT_PLATE"
    entity="plate"
    service="plates"
    value-column="plate_number"
    searchable="yes"
    columns="id_plate;plate_number"
    visible-columns="plate_number"
    multiple="yes"
  >
  </o-combo>
  <div id="filter-buttons">
    <o-button
      attr="add"
      [oFilterBuilderQuery]="filterBuilder"
      type="RAISED"
      label="ADD"
      class="add-button"
      icon="add"
      color="accent"
    ></o-button>
    <o-button
      attr="clear"
      [oFilterBuilderClear]="filterBuilder"
      type="RAISED"
      label="CLEAR"
      class="clear-button"
      icon="refresh"
    ></o-button>
  </div>
</o-form>
