<o-form
  layout-direction="column"
  header-actions="R;U;D"
  after-insert-mode="detail"
  service="companies"
  entity="company"
>
  <div class="grid-new-company">
    <div class="info">
      <div class="section-company-info">
        <h2 class="header">Company data</h2>
        <div class="company-data">
          <o-text-input
            attr="company_name"
            read-only="no"
            required="yes"
            clear-button="yes"
          >
          </o-text-input>
          <o-date-input
            attr="company_start_date"
            read-only="no"
            format="LL"
            required="yes"
            min="01/01/1980"
            text-input-enabled="no"
          >
          </o-date-input>
        </div>
      </div>
      <div class="section-company-info">
        <h2 id="contactHeader" class="header">Contact information</h2>
        <div class="contact-information">
          <o-text-input
            id="companyStreet"
            attr="company_direction_street"
            read-only="no"
            required="yes"
          ></o-text-input>
          <o-text-input
            id="companyCip"
            attr="company_direction_cip"
            read-only="no"
            required="yes"
          ></o-text-input>
          <o-text-input
            id="companyCity"
            attr="company_direction_city"
            read-only="no"
            required="yes"
          ></o-text-input>
          <o-combo
            id="companyCountry"
            attr="company_direction_country"
            data="Spain"
            [static-data]="countries"
            value-column="name"
            columns="id;name"
            visible-columns="name"
            read-only="no"
            required="yes"
            translate="yes"
          ></o-combo>
          <o-phone-input
            id="companyPhone"
            attr="company_phone"
            read-only="no"
            required="yes"
          >
          </o-phone-input>
          <o-email-input
            id="companyEmail"
            attr="company_email"
            read-only="no"
            required="yes"
          ></o-email-input>
        </div>
      </div>
    </div>
    <div class="company-logo">
      <o-image
        attr="company_logo"
        class="customer-picture"
        empty-image="./assets/images/no-image.png"
        read-only="no"
        height="500px"
        width="500px"
      ></o-image>
    </div>
  </div>
</o-form>

