
#container-travel-filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
}

#travels-filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#filter-buttons{
    display: flex;
    gap:10px;
    justify-content: flex-end;
}