<div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table 
        attr="travels" 
        service="travels" 
        entity="travel"
        keys="id_travel"
        columns="id_travel;datetime_in;datetime_out;id_delivery_note;id_plate; delivery_name"
        visible-columns="id_travel;datetime_in;datetime_out;id_delivery_note;id_plate; delivery_name"
        query-rows="20">
        <o-table-column 
            content-align="center"
            attr="datetime_in"
            type="date" 
            format="MM/DD/YYYY HH:mm:ss.SSS">
        </o-table-column>
        <o-table-column 
            content-align="center"
            attr="datetime_out" 
            type="date" 
            format="MM/DD/YYYY HH:mm:ss.SSS">
        </o-table-column>
        <o-table-column
            attr="id_travel"
            content-align="center"
        ></o-table-column>
        <o-table-column
            attr="id_delivery_note"
            content-align="center"
        ></o-table-column>
        <o-table-column
            attr="id_plate"
            content-align="center"
        ></o-table-column>
    </o-table>
</div>
