<div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table 
        attr="travels" 
        service="travels" 
        entity="travelFull"
        keys="id_travel"
        columns="id_travel;datetime_in;datetime_out;plate_number;delivery_name"
        visible-columns="delivery_name;datetime_in;datetime_out;plate_number"
        query-rows="20">
        <o-table-column 
            content-align="center"
            attr="datetime_in"
            orderable="yes"
            type="date" 
            format="DD/MM/YYYY HH:mm:ss.SSS">
        </o-table-column>
        <o-table-column 
            content-align="center"
            attr="datetime_out" 
            type="date" 
            format="DD/MM/YYYY HH:mm:ss.SSS">
        </o-table-column>
        <o-table-column
            attr="delivery_name"
            content-align="center"
        ></o-table-column>
        <o-table-column
            attr="plate_number"
            content-align="center"
        ></o-table-column>
    </o-table>
</div>

