<o-form class="vinculate-trucks-form"
  parent-keys="id_company"
  keys="id_company"
  service="companiesTrucks"
  entity="companyTrucks"  
>
  <o-combo
    attr="id_plate"
    label="SELECT_PLATE"
    entity="companyTrucksGetNotOwnedPlates"
    service="companiesTrucks"
    value-column="id_plate"
    searchable="yes"
    columns="id_plate;plate_number"
    visible-columns="plate_number"
    multiple="no"
  >
  </o-combo>
  <o-date-input
    id="companyStartDate"
    attr="start_date"
    label=" {{ 'company_start_date_detail' | oTranslate }}"
    read-only="no"
    format="LL"
    required="yes"
    min="01/01/1980"
    text-input-enabled="no"
  >
  </o-date-input>
  <o-date-input
    id="companyEndDate"
    attr="end_date"
    label=" {{ 'company_end_date_detail' | oTranslate }}"
    read-only="no"
    format="LL"
    required="no"
    min="01/01/1980"
    text-input-enabled="no"
  >
  </o-date-input>

</o-form>
