@import 'node_modules/ontimize-web-ngx-theming/ontimize-theme.scss';

/* Color definitions */
$mat-custom-primary: (
  50: #f7efee,
  100: #FFE0B2,
  200: #FFCC80,
  300: #FFB74D,
  400: #FFA726,
  500: #FF5722,
  600: #F4511E,
  700: #E64A19,
  800: #ffcf98,
  900: #BF360C,
  A100: #FF9E80,
  A200: #FF6E40,
  A400: #FF3D00,
  A700: #DD2C00,

  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* Define a theme for your theme using the Material Design palettes available in palette.scss
* (imported above). For each palette, you can optionally specify a default, lighter, and darker
* hue. Available color palettes: https://material.io/design/color/ */
$primary: mat-palette($mat-custom-primary, 50, A200, A200, 200);
$accent:  mat-palette($mat-deep-orange, 900, 200, A200, A100);
/* The warn palette is optional (defaults to red).*/
$warn:    mat-palette($mat-red);

/* Create the theme object (a Sass map containing all of the palettes). */
/* Light theme */
$theme: o-mat-light-theme($primary, $accent, $warn);

/* Dark theme 
$theme: o-mat-dark-theme($primary, $accent, $warn);
*/
$background: map-get($theme,"background");
$my-custom-bg-color: mat-color($background, level-1);

